.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.18);
  min-width: 128px;
  padding: 16px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.primaryButton {
  @extend .button;
  background: linear-gradient(99.69deg, #3e44fe -10.66%, #bb5cff 114.64%);
  color: white;

  &:disabled {
    background: #cfd5e6;
  }

  &:not(&:disabled):hover {
    background: linear-gradient(99.69deg, #666afe -10.66%, #ca80ff 114.64%);
  }
}

.secondaryButton {
  @extend .button;
  padding: 1px;
  background: linear-gradient(99.69deg, #3e44fe -10.66%, #bb5cff 114.64%);

  .buttonText {
    border-radius: inherit;
    padding: 15px;
    background: white;
  }

  &:disabled {
    background: #cfd5e6;
  }

  &:disabled .gradientText {
    color: #cfd5e6;
  }

  &:not(:disabled) .gradientText {
    background: linear-gradient(99.69deg, #3e44fe -10.66%, #bb5cff 114.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &:not(:disabled):hover {
    .gradientText {
      background: linear-gradient(99.69deg, #666afe -10.66%, #ca80ff 114.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

// TODO: This is placeholder styling until the design for light mode is confirmed
.tertiaryButton {
  @extend .button;
  border: solid 1px currentColor;

  background: white;
  color: currentColor;

  &:disabled {
    border: solid 1px #cfd5e6;
    background: #cfd5e6;
    color: #cfd5e6;
  }
}
