.pill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 0 8px;
  height: 20px;
  transition: color 0.3s, background-color 0.3s;
  max-width: 140px;
  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
