@import '../../../style/zIndex';

.wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: fixed;
  z-index: $zI_tooltip;
  display: flex;
  flex-direction: row;
  justify-content: center;
  backdrop-filter: blur(8px);
  .content {
    border-radius: 6px;
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
