.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  height: 48px;
  min-width: 128px;
  padding: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  cursor: pointer;
  text-transform: uppercase;
}

.primaryButton {
  @extend .button;
  background: #aa33ff;
  color: white;

  &:disabled {
    background: #bbbbbf;
  }

  &:not(&:disabled):hover {
    background: #8829cc;
    box-shadow: 0px 8px 14px rgba(106, 106, 109, 0.28);
  }

  &.danger:not(&:disabled):hover {
    background: #e52222;
    box-shadow: 0px 8px 14px rgba(106, 106, 109, 0.28);
  }

  &:not(&:disabled):active {
    background: #6e21a6;
  }

  &.danger {
    background: #e52222;
  }
}

.secondaryButton {
  @extend .button;
  background: white;
  border: 2px solid #aa33ff;
  color: #aa33ff;

  .buttonText {
    flex: 1;
    border-radius: inherit;
    padding: 15px;
    background: white;
  }

  &:disabled {
    background: white;
    border: 2px solid #bbbbbf;
    color: #bbbbbf;
  }

  &:not(&:disabled):hover {
    border: solid 2px #8829cc;
    color: #8829cc;
    box-shadow: 0px 8px 14px rgba(106, 106, 109, 0.28);
  }

  &.danger:not(&:disabled):hover {
    background: #e52222;
    box-shadow: 0px 8px 14px rgba(106, 106, 109, 0.28);
  }

  &:not(&:disabled):active {
    border: 2px solid #6e21a6;
    color: #6e21a6;
  }

  &.danger {
    border: 2px solid #e52222;
    color: #e52222;
  }
}

// TODO: This is placeholder styling until the design for light mode is confirmed
.tertiaryButton {
  @extend .button;
  border: solid 1px black;

  background: white;
  color: black;

  &:disabled {
    border: solid 1px #cfd5e6;
    color: #cfd5e6;
  }
}

.dangerButton {
  @extend .button;
  background: #e52222;
  color: white;

  &:not(&:disabled):hover {
    background: #e52222;
    box-shadow: 0px 8px 14px rgba(106, 106, 109, 0.28);
  }
}
