.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  min-width: 128px;
  padding: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  cursor: pointer;
}

.size-l {
  height: 48px;
}

.size-m {
  height: 44px;
}

.size-s {
  height: 40px;
}

.fullWidth {
  min-width: 100%;
}
