.container {
  .spinnerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    .spinnerContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: rotate 0.75s steps(8, end) infinite;
    }
  }

  .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
