.item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
  &:after {
    border-radius: 12px;
    border: 2px solid transparent;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.mobile {
    .pill {
      left: 12px;
      bottom: 12px;
    }
    .talking {
      top: 12px;
      right: 12px;
    }
  }
}

.pill {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.talking {
  position: absolute;
  top: 16px;
  right: 16px;
}

.indicatorsContainer {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.mobile {
    top: 12px;
    left: 12px;
  }
  &.mobileSmall {
    top: 8px;
    left: 8px;
  }
}
