.toast {
  box-sizing: border-box;
  min-width: 260px;
  min-height: 32px;
  border-radius: 6px;
  backdrop-filter: blur(8px);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  transform-origin: center;
  transform: scale(1);
  transition: 0.3s ease;
  background-color: rgba(41, 41, 48, 0.8);

  &.success {
    min-height: 48px;
    background-color: #179934;
  }

  &.info {
    min-height: 48px;
    background-color: #2288E6;
  }

  &.warning {
    min-height: 48px;
    background-color: #FCB91A;
  }

  &.error {
    min-height: 48px;
    background-color: #E52222;
  }

  &.invisible {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s ease;
    height: 0;
    margin: 0;
  }

  .leftIcon {
    margin-left: 16px;
    width: 24px;
    height: 24px;
  }

  .action {
    background-color: transparent;
    border: none;
    margin-right: 16px;
    margin-left: auto;


    .actionIcon {
      width: 16px;
      height: 16px;
    }
  }
}


