.wrapper {
  font-family: 'Roboto';
  position: relative;
}

.label {
  display: inline-block;
  position: absolute;
  left: 16px;
  transform: translateY(-50%);
}

.input {
  display: block;
  border-radius: 10px;
  border: 2px solid;
  padding: 12px;
  padding-right: 36px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  &:focus,
  &:focus-visible {
    border-color: #aa33ff;
    outline: inherit;
  }
}

.error {
  display: block;
  text-align: left;
}

.clear {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
