.container {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maxTileWrapper {
  position: relative;
}
