.indicator {
  display: flex;
  justify-content: center;
  align-items: center;

  &.size {
    &-s {
      width: 24px;
      height: 24px;
    }

    &-m {
      width: 32px;
      height: 32px;
    }
  }

  &.square {
    border-radius: var(--borderRadius);
  }

  &.circle {
    border-radius: 100%;
  }
}
